body::after {
  position: absolute;
  text-shadow: 0 0 7px #000, 0 0 2px #000;
  padding: 2px 6px;
  top: 0;
  left: 0;
  font-weight: 900;
  color: #fff;
}

@media (min-width: 1024px) {
  body::after {
    content: "> 1024px";
    background: red;
  }
}
@media (max-width: 1023px) {
  body::after {
    content: "> 768px & < 1024px";
    background: orange;
  }
}
@media (max-width: 767px) {
  body::after {
    content: "> 480px & < 768px";
    background: green;
  }
}
@media (max-width: 479px) {
  body::after {
    content: "< 480px";
    background: blue;
  }
}